<% unless current_utilisateur.admin? %>
  <h2>Vous ne pouvez pas accéder à cette page.</h2>
<% end %>

<% if current_utilisateur.admin? %>
  <h2>Tableau de la communauté Baco</h2>

  <div class="flex flex-col overflow-x-auto">
    <div class="sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-x-auto">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">Identifiant</th>
                <th scope="col" class="px-6 py-4">Nom</th>
                <th scope="col" class="px-6 py-4">Prénom</th>
                <th scope="col" class="px-6 py-4">Téléphone</th>
                <th scope="col" class="px-6 py-4">Email</th>
              </tr>
            </thead>
            <% @utilisateurs.each do |utilisateur| %>
              <tbody>
                <tr class="border-b dark:border-neutral-500">
                  <td class="whitespace-nowrap px-6 py-4 font-medium"><%= utilisateur.id %></td>
                  <td class="whitespace-nowrap px-6 py-4"><%= utilisateur.nom_usage %></td>
                  <td class="whitespace-nowrap px-6 py-4"><%= utilisateur.prenom %></td>
                  <td class="whitespace-nowrap px-6 py-4"><%= utilisateur.tel_contact %></td>
                  <td class="whitespace-nowrap px-6 py-4"><%= utilisateur.email %></td>
                </tr>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
