<div class="container_inscription">
  <%= render(InscriptionLogoComponent.new(text: "Inscription pour la saison #{@saison}")) %>

  <div class="container_form">
    <%= simple_form_for :recherche_joueur, url: "/inscription/recherche_joueur", method: "GET" do |form| %>
      <h2>Vous avez déjà été licencié au club?</h2>
      <div class="">
        <div class="">
          <%= form.label "Entrer votre numéro de licence" %>
          <%= form.input_field :num_licence, placeholder: 'numéro de licence', class: "input_contour" %>
        </div>
        <div class="button_inscription">
          <%= form.submit 'Rechercher', class: 'button button_primary' %>
        </div>
      </div>
      <p>Vous ne vous trouvez pas cliquez
        <%= link_to "ici", "/inscription" %>
      </p>
    <% end %>
  </div>

  <% if @user %>
    <div class="container_user">
      <p>
        <%= @user.nom %>
        <%= @user.prenom %>
        (<%= @user.num_licence %>)
      </p>
      <%= link_to "C'est bien moi", "/inscriptionForm", class: "button button_primary"%>
    </div>
  <% else %>
    <%= @message %>
  <% end %>

</div>
