<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <a href="https://baco-oullins.fr/" target="_blank" class="flex items-center text-2xl font-semibold text-black">
      <%= image_tag("logo_baco.png", :alt => "logo baco", class: "w-28 h-28") %>
      Badminton Club d'Oullins
    </a>
    <div class="w-full bg-blue rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl">
          Connectez-vous à votre compte
        </h1>
        <%= form_for(resource, as: resource_name, class:"space-y-4 md:space-y-6", url: session_path(resource_name)) do |f| %>
        <%= f.label :email, class:"block text-sm font-medium text-white" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "email", class:"bg-gray_light border border-gray_light text-gray_dark sm:text-sm rounded-lg focus:ring-gray_light focus:border-gray_light block w-full p-2.5"%>

        <%= f.label :password, class:"block mt-4 text-sm font-medium text-white" %><br />
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"••••••••", id: "password", class:"bg-gray_light border border-gray_light text-gray_dark sm:text-sm rounded-lg focus:ring-gray_light focus:border-gray_light block w-full p-2.5"%>

        <div class="flex items-center justify-between">
          <div class="flex items-start">
            <% if devise_mapping.rememberable? %>
              <div class="flex items-center h-5 mt-2 mb-8">
                <%= f.check_box :remember_me, class:"w-4 h-4 border border-gray_light rounded bg-gray_light focus:ring-3 focus:ring-primary-300" %>
              </div>
              <div class="ml-3 text-sm mt-2 mb-8">
                <%= f.label :remember_me, class:"text-white" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Connexion", class:"w-full text-blue bg-saumon hover:bg-white focus:ring-4 focus:outline-none focus:ring-white font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>

      <% if flash[:alert] %>
        <div class="bg-red text-white w-full rounded-lg"><%= flash[:alert] %></div>
      <% end %>
      </div>
    </div>
  </div>
</section>
