<!DOCTYPE html>
<html>
  <head>
    <title>AppBaco</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="max-h-full">
      <% if current_utilisateur.present? && current_utilisateur.admin? %>
        <div class="bg-blue absolute z-1 w-8 max-h-full pt-3 pb-3 mt-20">
          <%= render(NavbarComponent.new) %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
